[database]
kibana_username = wingmarket
kibana_password = Wing@1234
wingmarket_username = 070782877
wingmarket_password = Rak@1995
wing_digital_username = test
wing_digital_password = test
wing_helpdesk_username = tanghai.ly
wing_helpdesk_password = TH$1999@H

[website]
kibana = kibana
wingmarket = wingmarket
wing_digital = wing_digital
wing_helpdesk = wing_helpdesk

[env]
non_production = non_production
production = production